black
Pillow
pyyaml>=5.1
sentencepiece
tensorboard
tensorboardX
textgrid
pytest
flake8==3.8.2
flake8-bugbear
flake8-comprehensions
flake8-executable
flake8-pyi==20.5.0
mccabe
pycodestyle==2.6.0
pyflakes==2.2.0
clang-format==17.0.6
cpplint==1.6.1
tqdm
deepspeed==0.14.0
librosa
openai-whisper==20250625
pre-commit==3.5.0
langid
numpy<2
soundfile==0.13.1
pandas==2.3.3
datasets<2.20.0
jiwer==3.0.3
transformers==4.38.0
faiss_gpu==1.7.2
jieba==0.42.1
opencc==1.2.0
editdistance==0.8.1
